<ion-view view-title="Tabla nutricional y juegos">
  <ion-content class="tabla">

  	<link rel="stylesheet" href="../css/tabla.css">
        

	<h1>Tabla Nutricional </h1>
	<br>
	<h2> Lo que debe consumir  </h2>
	<h1> Un Adolescente </h1>


	
	</div>
	<div class="sub">
	<tr>
		<th colspan="2">
		</th>
	<table border=2>
	<tr>
	<th>Calorías y Carbohidratos</th>

	<td class="tdcal">
	<ul>
	<li>
	</li>
	<li>Los niños necesitan cerca de 2.800 calorías al día.</li>
	<li>Las niñas necesitan cerca de 2.200 caloría al día.</li>
	<li>Cada gramo de proteína y carbohidrato</li>
	<li>proporciona 4 calorías, o unidades de energía.</li>
	<li>La grasa contribuye con más del doble: 9</li>
	<li>calorías por gramo.</li>
	<li></li>
	<li></li>
	</ul>
	</td>
	 </tr>
	 <tr>
	<th>Grasa en la dieta    ,                          Vitaminas y minerales</th>
	<td class="tdgra">
	<ul>
	<li>Las vitaminas y los minerales permiten que el organismo funcione como debe funcionar</li>
	<li>Tú obtienes las vitaminas y los minerales de los alimentos que ingieres día tras día</li>
	<li>pero algunos alimentos contienen más vitaminas y más minerales que otros.</li>
	
	</ul>
	</td>
	 </tr>
	     <tr>
	<th>Proteínas</th>
	<td class="tdpro">
	<ul>
	<li>Carne de res</li>
	<li>Pollo</li>
	<li>Pavo</li>
	<li>Cerdo</li>
	<li>Pescado</li>
	<li>Huevos</li>
  <li>Avena</li>
  <li>Leche</li>
	</ul>
	</td>
	 </tr>
	</table>

	---------------------------------

  	<link rel="stylesheet" href="../css/memoria.css">
        
	<div class="row">
  <div class="col m5"> 
    <h3>Mira este interesante juego</h3>
    <img src="https://previews.123rf.com/images/alicev1978/alicev19781704/alicev1978170400056/77083150-est%C3%B3mago-sano-feliz-de-dibujos-animados-lindo-con-verduras-y-frutas-vector-concepto-ilustraci%C3%B3n.jpg" alt="pansita feliz" />
    <p>Si... 
      Así es, este es el Gran JUEGO, Puedes intentarlo y acumularás Vitaminas</p>
    <p>Para crecer GRANDE Y FUERTE, Aprende más y busca informacion sobre las vitaminas</p> 
    <h5> @dayana_carrera17</h5>
    
    <div id="found">
    </div>    
    
    
  </div>
  <div class="col m7">
    <table class="tablej">
      <tr class="trj">
        <td class="tdj">
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td> 
        <td>
          <div class="memory-block"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
        <td>
          <div class="memory-block"></div>
        </td>
      </tr>  
    </table>  
  </div>
</div>




    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>

